<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Hey guys at L4 Digital!</h1>

        <h3>
            I just wanted to say thanks for the code challenge opportunity. This opportunity gave me a chance to not only have fun coding, but also helped me pick up a couple of new things to learn.
        </h3>

        <h3>
            Feedback is welcome as I am always working hard to get better.
        </h3>

        <h3>
            Again, thanks. =)
        </h3>

        <h3>-Dan-</h3>
    </div>
</div>
