<div class="weather-main">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <form ng-submit="vm.getWeather()">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-primary" name="name" value="Get Weather!">
                        </span>
                        <input type="text" class="form-control" ng-model="vm.zip" placeholder="ZIP Code...">
                        <span class="input-group-addon" >
                            <i class="fa fa-spinner fa-spin fa-fw" ng-show="vm.isLoading"></i>
                            <i class="fa fa-check fa-fw" ng-show="!vm.isLoading"></i>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row" ng-show="vm.isReady">
        <div class="col-md-6">
            <h1>{{vm.weather.address}}</h1>
            <h3>{{vm.weather.currently.time * 1000 | date: 'longDate'}}</h3>
            <h3>
                {{vm.weather.currently.summary}}

            </h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <h1>
                            <i class="wi wi-forecast-io-{{vm.weather.currently.icon}} fa-2x"></i>
                            {{vm.weather.currently.temperature}}
                            <a href="#">&deg;F</a>
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <h4>Precipitation: {{vm.weather.currently.precipProbability * 100 | number: 0}}%</h4>
                        <h4>Humidity: {{vm.weather.currently.humidity * 100 | number: 0}}%</h4>
                        <h4>Wind: {{vm.weather.currently.windSpeed}} mph</h4>
                    </div>
                </div>
                <div class="col-md-12 button-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="button" class="btn btn-warning btn-xs btn-block" ng-click="vm.showWeekModal()">Weekly forecast</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="button" class="btn btn-info btn-xs btn-block" ng-click="vm.hourlyTableOn = !vm.hourlyTableOn">Hourly Details</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6">

            <table class="table table-borderless">
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-6 text-left">
                                Temperature(F)
                            </div>
                            <div class="col-md-6 text-right">
                                Wind(mph)
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <canvas id="line" class="chart chart-line" chart-data="vm.chart.data"
                        chart-labels="vm.chart.label" chart-series="vm.chart.series" chart-options="vm.chart.options"
                        chart-dataset-override="vm.chart.datasetOverride" chart-click="onClick" >
                        </canvas>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                Time(h)
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<hr>

<div class="row" ng-show="vm.hourlyTableOn">
    <div class="col-md-12">
        <table class="table table-condensed">
            <tr>
                <th>Hourly</th>
                <th>Temperature</th>
                <th>Precipitation</th>
                <th>Humidity</th>
                <th>Wind speed</th>
                <th>Clarity</th>
                <th>Summary</th>
            </tr>
            <tr ng-repeat='h in vm.weather.hourly.data'>
                <td>{{h.time * 1000 | date: 'hh:mm a'}}</td>
                <td>{{h.temperature}} &deg;F</td>
                <td>{{h.precipProbability * 100 | number:0}}%</td>
                <td>{{h.humidity * 100 | number:0}}%</td>
                <td>{{h.windSpeed}} mph</td>
                <td><i class="wi wi-forecast-io-{{h.icon}}"></i></td>
                <td>{{h.summary}}</td>
            </tr>
        </table>
    </div>
</div>
