<div class="modal-content">
    <div class="modal-header">
        <div class="col-md-10">
            <h1>
                {{vm.address}}
                <i class="fa fa-spinner fa-pulse fa-fw" ng-show="!vm.isReady"></i>
            </h1>
        </div>
        <div class="col-md-2 text-right close-box">
            <button type="button" class="btn btn-danger btn-xs" ng-click="vm.close()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

    </div>

    <div class="modal-body">
        <div class="animate-show" ng-show="vm.isReady">
            <div class="row" >
                <div class="col-md-3 text-center daily-box add-box" ng-repeat="w in vm.weeklyWeather.data">
                    <div class="daily-content">
                        <h4>{{w.time * 1000 | date: 'longDate'}}</h4>
                        <hr>
                        <h1>
                            <i class="wi wi-forecast-io-{{w.icon}} fa-2x"></i>
                            {{w.temperature}}
                        </h1>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6 text-right highlow-box-left">
                                    <h5><span class="high">High</span>:</h5>
                                </div>
                                <div class="col-md-6 text-left highlow-box-right">
                                    <h5>{{w.temperatureMax}} &deg;F</h5>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6 text-right highlow-box-left">
                                    <h5><span class="low">Low</span>:</h5>
                                </div>
                                <div class="col-md-6 text-left highlow-box-right">
                                    <h5> {{w.temperatureMin}} &deg;F</h5>
                                </div>
                            </div>
                            <!-- <h5>
                                <span class="high">High</span>: {{w.temperatureMax}} &deg;F
                                <br>
                                <span class="low">Low</span>: {{w.temperatureMin}} &deg;F
                            </h5> -->
                        </div>

                    </div>

                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="button" class="btn btn-primary btn-block btn-xs" ng-click=vm.close() value="close">
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</div>
